<link rel="stylesheet" href="/stylesheets/header.css">

<header>
    <div>
        <a href="/">Home</a>
    </div>  
    <div class="dropdown">
        <span>Produtos</span>
        <div class="dropdown-content">
            <div class="dropdown-content-item">
                <a href="/products">Cadastrar</a>
            </div>
            <div class="dropdown-content-item">
                <a href="/products/list">Lista</a>
            </div>
        </div>
    </div>
    <div>
        <a href="/about">Acessar Sobre</a>
    </div>
    <div>
        <a href="/login">Login</a>
    </div>
</header>