.box {
  border: 1px solid #323639;
  height: 350px;
  width: 550px;
  padding: 16px;
}

.custom-row {
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}

.row:nth-child(even) {
  justify-content: space-between;
}

.content {
  display: flex;
}

.about {
  flex-basis: 30%;
}

.benefits {
  flex-basis: 70%;
}